<a href="https://colab.research.google.com/github/Chae-Yejin/Python_1/blob/master/0417_python_assignment_2020014320_%EC%B1%84%EC%98%88%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment #1

##### 1. Create a list a_list, with the following elements 1, hello, [1, 2, 3] and True (i.e., Boolean).

In [0]:
a_list = [1, "hello", [1,2,3], True]

In [2]:
print(a_list)

[1, 'hello', [1, 2, 3], True]

##### 2. Find the value stored at index 1 of a_list.

In [3]:
print(a_list[1])

hello

##### 3. Retrieve the elements stored at index 1, 2, and 3 of a_list.

In [4]:
print(a_list[1])
print(a_list[2])
print(a_list[3])

hello
[1, 2, 3]
True

##### 4. Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']

In [0]:
A = [1, "a"]
B = [2, 1, "d"]

In [0]:
A.extend(B)

In [7]:
print(A)

[1, 'a', 2, 1, 'd']

### Assignment #2

Declare the soundtrack dictionary such as soundtrack_dic = {"The Bodyguard" : "1992", "Saturday Night Fever" : "1977"}

In [0]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}

In [9]:
print(soundtrack_dic)

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

##### 1. Write a code to display all of the keys.

In [0]:
dict_keys = soundtrack_dic.keys()

In [11]:
print(dict_keys)

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

##### 2. Write a code to display all of the values.

In [0]:
dict_values = soundtrack_dic.values()

In [13]:
print(dict_values)

dict_values(['1992', '1977'])

### Assignment #3

##### 1. Convert the list ['rap', 'house', 'electronic music', 'rap'] to a set.**굵은 텍스트**

In [0]:
set1 = set(["rap", "house", "electronic music", "rap"])

In [15]:
print(set1)

{'house', 'rap', 'electronic music'}

##### 2. Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)?

In [0]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

In [18]:
print(A)
print(B)

[1, 2, 2, 1]
{1, 2}

In [21]:
print(sum(A))
print(sum(B)) # They are not same.

6
3

##### 3. Create a new set album_set3 that is the union of album_set1 and album_set2 : album_set1 = set(["Thriller", "AC/DC", "Back in Black"]), album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [0]:
album_set1 = set(["Thriller", "AC/DC", "Back in Black"])
album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [4]:
print(album_set1)
print(album_set2)

{'Back in Black', 'Thriller', 'AC/DC'}
{'Back in Black', 'The Dark Side of the Moon', 'AC/DC'}

In [0]:
album_set3 = album_set1.union(album_set2)

In [3]:
print(album_set3)

{'Back in Black', 'Thriller', 'The Dark Side of the Moon', 'AC/DC'}

##### 4. Find out if album_set1 is a subset of album_set3.

In [6]:
print(album_set1.issubset(album_set3))

True

### Assignment #4-1

##### 1. When the Artist name is "Michael", print out the genre of the artist.

In [0]:
Dict = {"Artist": "Michael", "Genre": "R&B", "Sales": 10000}

In [13]:
if(Dict["Artist"]=="Michael"):
  print(Dict["Genre"])
else:
  print("None")

R&B

### Assignment #4-2

##### 1. Write a Python program to convert temperatures to and from celsius, fahrenheit (Kelvin temperature limitation is -273 celsius, e.g., declare your value at -50000, 50000)

In [8]:
celsius = 43
fahrenheit = -500

if(celsius >= -273.15):
  print("{} celsius is {} fahrenheit.".format(celsius, celsius*1.8 + 32))
else:
  print("You can't convert {} celsius into fahrenheit.".format(celsius))

if(fahrenheit >= -459.67):
  print("{} fahrenheit is {} celsius.".format(fahrenheit, (fahrenheit-32)/1.8))
else:
  print("You can't convert {} fahrenheit into celsius.".format(fahrenheit))

43 celsius is 109.4 fahrenheit.
You can't convert -500 fahrenheit into celsius.

##### 2. Write a Python program to count how many even numbers and odd numbers are in a list (e.g., L = [1, 2, 3, 5, 31, 28, 91])

In [51]:
L = [1, 2, 3, 5, 31, 28, 91]
count_even = 0
count_odd = 0

for i in L :            # I used 'loop' for convenience.
  if(i != 0):
    if(i % 2 == 0):
      count_even += 1
    else:
      count_odd += 1

print("count_even = {}".format(count_even))
print("count_odd = {}".format(count_odd))

count_even = 2
count_odd = 5

##### 3. Write a Python program, extending the codes from Question 2 in Assignment #4-2, how many prime numbers are in the list?

In [43]:
# nested conditions

L = [1, 2, 3, 5, 31, 28, 91]

# ex) 5
if(5 % 2 != 0):
  if(5 % 3 != 0):
    if(5 % 4 != 0):
      print("5 is a prime number.")
    else:
      print("5 is NOT a prime number.")
  else:
    print("5 is NOT a prime number.")
else:
  print("5 is NOT a prime number.")

5 is a prime number.

In [44]:
# The other method - use 'function' and 'loop'

L = [1, 2, 3, 5, 31, 28, 91]
count_prime = 0

def prime(x):
  if x >= 2:
    for n in range(2,x):
      if (x % n == 0):
        return False
  else:
    return False
  return True

for i in L :
  if prime(i):
    count_prime += 1
    print(i)

print("count_prime = {}".format(count_prime))

2
3
5
31
count_prime = 4