<a href="https://colab.research.google.com/github/Chae-Yejin/Python_1/blob/master/0427_python_Pandas_assignment_2020014320_%EC%B1%84%EC%98%88%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment #1

##### 1. use "Read_CSV" method to link with your python and the file (TopSellingAlbums.csv) in your google drive.

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [3]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

##### 2. practice how to use iloc and loc methods.

In [4]:
df.iloc[0,0]

'Michael Jackson'

In [5]:
df.iloc[4,6]

43

In [6]:
df.iloc[0, 0:3] # 0:3 -> from 0 to 2 (0, 1, 2)

Artist      Michael Jackson
Album              Thriller
Released               1982
Name: 0, dtype: object

In [7]:
df.iloc[0, [0,1,4]]

Artist    Michael Jackson
Album            Thriller
Genre      pop, rock, R&B
Name: 0, dtype: object

In [8]:
df.iloc[0:3, 0:4]

            Artist                      Album  Released   Length
0  Michael Jackson                   Thriller      1982  0:42:19
1            AC/DC              Back in Black      1980  0:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49

In [9]:
df.loc[0, 'Artist']

'Michael Jackson'

In [10]:
df.loc[1, ['Artist','Genre']]

Artist        AC/DC
Genre     hard rock
Name: 1, dtype: object

In [11]:
df.loc[0:2, 'Album'] # 0:2 -> from 0 to 2 (0, 1, 2)

0                     Thriller
1                Back in Black
2    The Dark Side of the Moon
Name: Album, dtype: object

In [12]:
df.loc[0:3, 'Artist':'Released' ]

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973
3  Whitney Houston              The Bodyguard      1992

##### 3. make your small database that only includes the following information : 1. Where both the "released year" was later than 1979 and "Music Recording Sales" was larger than 24.

In [0]:
filter1 = df['Released'] > 1979
filter2 = df['Music Recording Sales (millions)'] > 24

In [0]:
My_database = df.where(filter1 & filter2)

In [0]:
My_database = My_database.dropna(how='all')

In [0]:
My_database = My_database.rename(index={0:0, 1:1, 3:2})

In [17]:
My_database

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5

[3 rows x 10 columns]

##### 4. from your own small database, find if their "Genre" includes "Rock"?

In [18]:
for i in range(3):
  if "rock" in My_database["Genre"][i]:
    print(My_database["Artist"][i])

Michael Jackson
AC/DC